.entry-content > .bloom-section {
	max-width: 100% !important;
	width: 100% !important;
}

.btn {
	text-decoration: none !important;

	&:hover {
		text-decoration: none !important;
	}
	&:visited {
		color: currentColor;
	}
}

.btn-primary {
	&:hover,
	&:visited {
		color: white;
	}
}

.btn-outline-dark {
	&:hover {
		color: white;
	}
}
