@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap' );

$blm-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

.blmco {
	font-family: $blm-font-family;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-family: $blm-font-family;
	}
}
